.root-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 80px 0 0 0;
}

.more-container {
  position: absolute;
  right: 0;
  top: 60px;
  
  & > button {
    background: none;
    border: 0;
    
    img {
      cursor: pointer;
      width: 34px;
      float: right;
      
      &:hover {
        filter: brightness(0.5);
      }
    }
    
    img.active {
      background: red;
    }
  }

  .more-li-container ul {
    position: absolute;
    list-style-type: none;
    border: 1px solid $bright-black;
    border-radius: 4px;
    padding: 0;
    top: 28px;
    right: 0;
    color: $white;
    opacity: 1;
    display: flex;
    flex-direction: column;

    li {
      width: 130px;
      
      button, a {
        display: block;
        text-decoration: none;
        cursor: pointer;
        padding: 10px 16px;
        text-align: center;
        background: none;
        border: none;
        font-size: 1em;
        width: calc(100% - 32px);
        height: 100%;
        box-sizing: content-box;
      }

      &:hover {
        background: $active-black;
      }
    }
  }
}

.loginout {
  position: absolute;
  right: 0;
  top: 60px;
  
  a {
    color: $white;
    text-decoration: none;
    font-size: 1rem;

    &:hover {
      color: $gray;
    }
  }
}

.profile {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $active-black;
  padding-bottom: 32px;
  text-align: center;

  .profile-image-container {
    margin: 0 auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid $active-black;
    overflow: hidden;
    margin-bottom: 24px;

    img {
      height: 100%;
    }
  }

  .name {
    color: $white;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .description {
    color: $gray;
    font-size: 1em;
  }
}

.custom-cocktails {
  
  .cocktails-container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 250px;
    width: 100%;
    
    .recipe-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 18px;
      height: 100%;
      cursor: pointer;

      .image {
        $SCALE: 60%;
        // object 요소가 마우스 이벤트를 무시한다.
        pointer-events: none;
        scale: $SCALE;
        translate: 0 20%;
        opacity: 0.5;
      }

      .name {
        color: $bright-black;
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        width: 100px;
        height: 3em;
        text-wrap: nowrap;
        margin-top: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &:hover {
        .image {
          opacity: 0.8;
          translate: 0 calc(15% - 4px);
        }

        .name {
          color: $gray;
        }
      }
    }
  }
}

@include mobile {
  .root-container {
    min-width: 0;
    width: 100%;
  }
}