@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

$background-black: #000000;
$active-black: #181818;
$bright-black: #303030;
$brighter-black: #606060;
$white: #d9d9d9;
$active-white: #c0c0c0;
$bright-point-pink: #d78080;
$point-pink: #da5e5e;
$dark-point-pink: #9f4646;
$dark-white-point-green: #c4d8ca;
$white-point-green: #d8f0df;
$bright-point-green: #76cf8f;
$point-green: #4da365;
$dark-point-green: #3b7d4d;
$black-point-green: #24482e;
$warning-orange: #e77e38;
$red: #db2d2d;
$red5: #db2d2d80;
$gray: #686868;

// Breakpoints
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

* {
  user-select: none;
  // -webkit-user-drag: none;
  font-family: Pretendard, "Noto Sans KR", sans-serif;
  transition: all 180ms;
  font-weight: 500;
  outline: none;
  color: $white;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    background-color: none;
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $active-black;
    border-radius: 2px;
    
    &:hover {
      background-color: $bright-black;
    }
  }

  &::selection {
    background-color: gray;
  }
}

h2 {
  color: $white;
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
}

input[type="text"] {
  background: none;
  border: 0 solid;
}

:root {
  overflow: hidden;
  font-size: 16px;
}

.search-area {
  display: block;
  position: relative;
  margin: 48px auto 24px auto;
  width: calc(100% - 600px);
  padding: 12px 16px;
  min-width: 800px;
  border-radius: 24px;
  background: $active-black;
  border: 2px solid $bright-black;
  box-sizing: border-box;

  &:hover {
    border-color: $brighter-black;
  }

  .area {
    width: calc(100% - 32px);
    outline: none;
    border: none;
    background: transparent;
    color: $white;
    font-weight: 600;
    font-size: 1em;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    height: 18px;
    width: 18px;
  }
}

.outlined-icon {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.align-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.root-container {
  width: calc(100% - 400px);
  margin: 0 auto;
  min-width: 800px;
}

.hide {
  display: none;
}

.hide-back {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 100%;
  background: #00000080;

  &.active {
    display: block;
  }
}

.center-window {
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  padding: 24px;
  border-radius: 8px;
  border: 2px solid $gray;
  background: #00000080;
  backdrop-filter: blur(16px);
  width: 540px;
  z-index: 99;
  box-shadow: 0px 6px 12px #00000080;
}

.submit {
  font-size: 1em;
  background-color: $point-green;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  color: $white-point-green;
  padding: 12px 0;
  transition: all 120ms;

  &:hover {
    color: $dark-white-point-green;
    background-color: $dark-point-green;
  }

  &:disabled {
    cursor: auto;
    color: $white;
    background-color: $bright-black;
  }
}

.register-warning {
  color: $warning-orange;
  font-size: 0.8em;
  margin: 4px 0 4px 10px;
  
  .material-icons {
    color: $warning-orange;
    font-size: 0.8em;
    font-weight: 900;
    margin-right: 4px;
  }
}